* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  background: #ededed;
  font-family: "Roboto", sans-serif;
}

.Residential-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFA;
}

.Residential-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313238;
  color: #FFFFFA;
}
.Residential-description h1 {
  padding: 10px;
  font-size: 40px;
}
.Residential-description p {
  font-size: 20px;
}

.gallery-hightlight {
  width: 80%;
  height: 50%;
}

.Residential-preview {
  display: flex;
  width: 80%;
  border: 2px solid #black;
}
.Residential-preview img {
  flex-grow: 1;
  height: 100px;
  opacity: 0.5;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

img.Residential-active {
  opacity: 1;
}
.my-cta-button-left{
  background:    #313238;
  border:        1px solid #fffffa;
  border-radius: 15px;
  padding:       10px 10px;
  color:         #fffffa;
  display:       inline-block;
  font:          normal bold 15px/1 "Open Sans", sans-serif;
  text-align:    center;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.my-cta-button-right{
  background:    #fffffa;
  border:        1px solid #313238;
  border-radius: 15px;
  padding:       10px 10px;
  color:         #313238;
  display:       inline-block;
  font:          normal bold 15px/1 "Open Sans", sans-serif;
  text-align:    center;
  text-decoration: none;
  margin-top: 15px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
